<head>
  <meta charset="utf-8">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<form role="form" class="col-sm-6" method="post">
    {% csrf_token %}
    <div class = "form-group">
      <label for="warmup">Warmup</label>
      <textarea class="form-control" name="warmup" id="warmup" rows="8" placeholder="Enter Warmup"></textarea>
   </div>
   <div class = "form-group">
      <label for="strength">Strengh</label>
      <textarea class="form-control" name="strength" id="strength" rows="8" placeholder="Enter Strength WOD"></textarea>
   </div>
   <div class="form-group">
      <label for="wod">WOD</label>
      <textarea class="form-control" name="wod" id="wod" rows="8" placeholder="Enter WOD"></textarea>
   </div>
   <button type="submit" class="btn btn-primary btn-md">Submit</button>
</form>


</body>